$bg-main: var(--bg-main);
$primary-light: var(--primary-light);
$primary: var(--primary);
$secondary-light: var(--secondary-light);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
